<h2><%= connector_status["name"] %></h2>

<h3>Status</h3>
State: <%= connector_status["connector"]["state"] %><br>
Worker ID: <%= connector_status["connector"]["worker_id"] %>

<p>
  <%= link_to "Refresh", routes.connector_stati_path(params[:connector_id]) %>
  <%= link_to "Pause", routes.pause_connector_stati_path(params[:connector_id]) %>
  <%= link_to "Resume", routes.resume_connector_stati_path(params[:connector_id]) %>
  <%= link_to "Restart", routes.restart_connector_stati_path(params[:connector_id]) %>
</p>

<h3>Tasks</h3>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Worker ID</th>
      <th>State</th>
      <th>Trace</th>
  </thead>
  <tbody>
    <% connector_status["tasks"].each do |task| %>
      <tr>
        <td><%= task["id"] %></td>
        <td><%= task["worker_id"] %></td>
        <td><%= task["state"] %></td>
        <td><pre><%= task["trace"] %></pre></td>
      </tr>
    <% end %>
  </tbody>
</table>
